*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

b {
  margin-right: 0.5vw;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgba(156, 148, 148, 0.171);
}

button {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border: none;
}


.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 10vh;
  /* padding: 15px;
  padding-left: 40px;
  padding-right: 30px; */
  background-color: white;
}


.nav-text {
  font-weight: 620;
  font-size: 1.1rem;
  padding-left: 5vw;
}

h3 {
  margin: 1.5rem 0;
  font-weight: 800;
  font-size: 2rem;
}


.btn-container > button {
  border: none;
  background-color: white;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}


.country-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 55px;
  border-radius: 15px;
  width: 80vw;
}

.country-details {
  margin-left: 10px;
  padding: 5px 0px 15px 10px;
}

.country-card > a > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.responsive-image {
  width: 100%;
  height: auto;
}


.country-details > ul {
  list-style-type: none;
}

.country-details > ul > li {
  margin-top: 10px;
}

/*Styling for the form starts here*/
.form-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
}


.search-container {
  width: 80vw;
  height: 6vh;
  margin-top: 3vh;
  border-radius: 10px;
}

.search-container > input {
  width: 100%;
  font-size: 0.89rem;
  height: 100%;
  padding-left: 3vw;
  border-radius: 5px;
  }

.select-container {
  margin-top: 30px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  
}

.select-container > label {
  width: 40vw;
  height: 30px;
  border-radius: 2.5px;
  background-color: white;
  text-align: center;
}

.select-container > select {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 40vw;
}

@media only screen and (min-width: 1200px) {
 
  .nav-container {
    min-height: 12vh;
  }
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86vw;
    margin-top: 3vh;
  }
  
.search-container {
  width: 36vw;
}

.select-container {
  width: 18vw;
}

.select-container > select {
  width: 16vw;
}

.select-container > label {
  width: 16vw;
}

.btn-container {
  margin-right: 10vw;
}

.nav-text {
  margin-left: 2vw;
}
  .countries-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
  }

  .country-card {
    width: 18vw;
  }

  
}