*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgba(217, 221, 223, 0.945);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 12vh;
  padding: 15px;
  padding-left: 40px;
  padding-right: 30px;
  background-color: white;
  position: sticky;
}


.nav-text {
  font-weight: 620;
  font-size: 1.15rem;
}

h3 {
  margin: 1.5em 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
}

.btn-container > button {
  border: none;
  background-color: white;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}


.country-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 55px;
  border-radius: 15px;
  width: 80vw;
}

.country-details {
  margin-left: 10px;
  padding: 5px 0px 15px 10px;
}



.country-card > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.search-container {
  width: 80vw;
}

.search-container > input {
  margin-top: 22px;
  width: 80vw;
  border: none;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  font-size: 1.1rem;
}

.select-container {
  margin-top: 30px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  
}

.select-container > label {
  width: 40vw;
  height: 30px;
  border-radius: 2.5px;
  background-color: white;
  text-align: center;
}

.select-container > select {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 40vw;
}


.responsive-image {
  width: 100%;
  height: auto;
}


.country-details > ul {
  list-style-type: none;
}

.country-details > ul > li {
  margin-top: 10px;
}